spring:


  datasource:
    url: jdbc:postgresql://localhost:5432/Healthify-User
    username: postgres
    password: Basic@123

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 9090
